<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Golden Bottle
		link(rel="stylesheet", href="css/main.css")
	body.page
		include include/sprite.svg
		.page-wrapper
			header.page-header
				.page-header__inner
					.logo
						a.logo__link(href="/")
							svg.logo__icon(xmlns="http://www.w3.org/2000/svg")
								use.logo__background(xlink:href="#icon-logo-bg")
								use.logo__content(xlink:href="#icon-logo")
			.banner
				img.banner__image(src="img/banner.jpg", alt="Golden Bottle")
				.banner__content.container
					p Ваш шанс выиграть годовой запас пива от GoldenBottle!
			.content.container
				.bottles
					- var n = 0
					while n < 11
						svg.bottle(xmlns="http://www.w3.org/2000/svg")
							use(xlink:href="#icon-bottle")
						- n++
				.contact-form
					.contact-form__line.clearfix.justify
						.contact-form__control
							label(for="")
							input#name(type="text", name="name", placeholder="Имя Фамилия")
						.contact-form__control
							input#phone.contact-form__control(type="text", name="phone", placeholder="+7")
						.contact-form__control
							input#field.contact-form__control(type="text", name="field", placeholder="Имя Фамилия")
					.contact-form__line.slug
						p В чем отличие настоящего шотландского стаута от обычного темного пива?
					.contact-form__line.clearfix
						.promo
							.promo-icons
								.promo-icon
									.promo-icon__item
										svg.icon.icon--barrel(xmlns="http://www.w3.org/2000/svg")
											use.icon__content(xlink:href="#icon-barrel")
										.promo-icon__title Крепость
								.promo-icon
									.promo-icon__item
										svg.icon.icon--beer(xmlns="http://www.w3.org/2000/svg")
											use.icon__content(xlink:href="#icon-beer")
										.promo-icon__title Вкус
								.promo-icon
									.promo-icon__item
										svg.icon.icon--malt(xmlns="http://www.w3.org/2000/svg")
											use.icon__content(xlink:href="#icon-malt")
										.promo-icon__title Цвет
								.promo-icon
									.promo-icon__item 
										svg.icon.icon--ingridients(xmlns="http://www.w3.org/2000/svg")
											use.icon__content(xlink:href="#icon-ingridients")
										.promo-icon__title Ингридиенты
								.promo-icon
									.promo-icon__item
										svg.icon.icon--age(xmlns="http://www.w3.org/2000/svg")
											use.icon__content(xlink:href="#icon-age")
										.promo-icon__title Возраст
							.promo-content.clearfix
								.promo-icon__content(style="display: none;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, fuga! Suscipit tempore possimus omnis voluptate quas, adipisci, ab soluta necessitatibus.
								.promo-icon__content(style="display: none;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic modi odio, nihil eveniet, corporis provident id dolore sunt aut laboriosam?
								.promo-icon__content(style="display: none;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur consequuntur fuga impedit cupiditate libero quae ducimus quod repudiandae quasi.
								.promo-icon__content(style="display: none;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur consequuntur fuga impedit cupiditate libero quae ducimus quod repudiandae quasi.
								.promo-icon__content(style="display: none;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur consequuntur fuga impedit cupiditate libero quae ducimus quod repudiandae quasi.
					.contact-form__line
						button.contact-form__button Отправить
		script(src="js/main.js")